@model List<Tiendon.Nucleo.Entidades.Producto>
@{
    ViewBag.Title = "Home Page";
}
<div id="content">
    <!-- Content Slider -->
    <h6></h6>
    <div id="slider" class="box">
        <div id="slider-holder">
            <ul>
                <li><a href="#"><img src="~/Content/css/images/slide1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/Content/css/images/slide2.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/Content/css/images/slide1.jpg" alt="" /></a></li>
                <li><a href="#"><img src="~/Content/css/images/slide2.jpg" alt="" /></a></li>
            </ul>
        </div>
        <div id="slider-nav"> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> </div>
    </div>
    <!-- End Content Slider -->
    <!-- Products -->
    <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
            <li>
                <a href="#"><img src="~/Content/css/images/small6.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>Chaqueta</h3>
                    <div class="product-desc">
                        <h4>Masculino</h4>
                        <p>
                            Chaqueta marca arepostale
                        </p>
                        <strong class="price">$50.99</strong>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/css/images/big1.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>Chamarra </h3>
                    <div class="product-desc">
                        <h4>Masculino</h4>
                        <p>
                            Chamarra para hombre marca Dockers
                        </p>
                        <strong class="price">$350.99</strong>
                    </div>
                </div>
            </li>
            <li class="last">
                <a href="#"><img src="~/Content/css/images/big2.jpg" alt="" /></a>
                <div class="product-info">
                    <h3>Chamarra</h3>
                    <div class="product-desc">
                        <h4>Masculino</h4>
                        <p>
                            Chamarra para hombre marca St Jhonson
                        </p>
                        <strong class="price">$400.99</strong>
                    </div>
                </div>
            </li>

        </ul>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Products -->
</div>


-