
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo</h2>

<div class="panel-body">
    <div class="row">
        <div class="col-lg-6">
            <form role="form">
                <div class="form-group">
                    <label>ID</label>
                    <input placeholder="Codigo de barras del producto" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input placeholder="Pantalones negros" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <input placeholder="pantalon hecho en taiwai " class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input placeholder="500.00" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Talla</label>
                    <input placeholder="Grande" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Genero</label>
                    <select name="a">
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>

                    </select>




                </div>
                <div class="form-group">
                    <label>TTipo de ropa</label>
                    <input placeholder="Pantalon" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Marca</label>
                    <input placeholder="Patito" class="form-control txtForm">


                </div>
                <div class="form-group">
                    <label>Stok</label>
                    <input placeholder="45" class="form-control txtForm">


                </div>

                <input type="submit" class="btn btn-success" value="Aceptar" />
            </form>
        </div>
    </div>
</div>
