<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tiendon</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <!--[if lte IE 6]><link rel="stylesheet" href="~/Content/ie6.css" type="text/css" media="all" /><![endif]-->
    <script src="~/Content/Js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/Content/Js/jquery-func.js" type="text/javascript"></script>
    <script src="~/Content/Js/jquery.jcarousel.pack.js" type="text/javascript"></script>
</head>
<body>
    <!-- Shell -->
    <div class="shell">
        <!-- Header -->
        <div id="header">
            <h1 id="logo"><a href="#">Tiendón</a></h1>
            <!-- Cart -->
            <div id="cart">
                <a href="#" class="cart-link">Carrito de compras</a>
                <div class="cl">&nbsp;</div>
                <span>Articulos: <strong>0</strong></span> &nbsp;&nbsp; <span>Costo: <strong>$0.00</strong></span>
            </div>
            <!-- End Cart -->
            <!-- Navigation -->
            <div id="navigation">
                <ul>
                    <li><a href="#" class="active">Inicio</a></li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Mi cuenta</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <!-- End Navigation -->
        </div>
        <!-- End Header -->
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            @RenderBody()
            <!-- End Content -->
            <!-- Sidebar -->
            <div id="sidebar">
                <!-- Search -->
                <div class="box search">
                    <h2>Buscar<span></span></h2>
                    <div class="box-content">
                        <form action="#" method="post">
                            <label>Palabra clave</label>
                            <input type="text" class="field" />
                            <label>Categoria</label>
                            <select class="field">
                                <option value="">-- Seleciona una categoría--</option>
                            </select>
                            <div class="inline-field">
                                <label>Precio desde</label>
                                <select class="field small-field">
                                    <option value="">$10</option>
                                </select>
                                <label>hasta:</label>
                                <select class="field small-field">
                                    <option value="">$50</option>
                                </select>
                            </div>
                            <input type="submit" class="search-submit" value="Search" />
                            <p>
                                <a href="#" class="bul">Busqueda avanzada</a><br />
                                <a href="#" class="bul">Contacto de servicio a cliente</a>
                            </p>
                        </form>
                    </div>
                </div>
                <!-- End Search -->
                <!-- Categories -->
                <div class="box categories">
                    <h2>Categorias <span></span></h2>
                    <div class="box-content">
                        <ul>
                            <li><a href="#">Camisas</a></li>
                            <li><a href="#">Pantalones</a></li>
                            <li><a href="#">Playeras</a></li>
                            <li><a href="#">Zapatos</a></li>
                            <li><a href="#">Gorras</a></li>
                            <li><a href="#">Blusas</a></li>
                            <li><a href="#">Zapatillas</a></li>
                            <li><a href="#">Relojes</a></li>
                            <li><a href="#">Lentes</a></li>
                            <li><a href="#">Solo para hombre</a></li>
                            <li><a href="#">Solo para dama</a></li>
                            <li><a href="#">Niños</a></li>
                            <li class="last"><a href="#">Ofertas</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Categories -->
            </div>
            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- End Main -->
        <!-- Side Full -->
        <div class="side-full">
            <!-- More Products -->
            <div class="more-products">
                <div class="more-products-holder">
                    <ul>
                        <li><a href="#"><img src="~/Content/css/images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="~/Content/css/images/small6.jpg" alt="" /></a></li>
                        <li class="last"><a href="#"><img src="~/Content/css/images/small7.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
            </div>
            <!-- End More Products -->
            <!-- Text Cols -->
            <div class="cols">
                <div class="cl">&nbsp;</div>
                <div class="col">
                    <h3 class="ico ico1">Envío</h3>
                    <p>Conoce más acerca de nuestros diversos métodos de envío y escoje el que más se acomode a tus necesidaddes.</p>
                    <p class="more"><a href="#" class="bul">Envíos tiendon</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico2">Contacto telefónico</h3>
                    <p>¿Tienes alguna duda acerca de nuestros servicios? Contactanos!! 01-800-622-108-3815</p>
                    <p class="more"><a href="#" class="bul">Contacto Tiendon</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico3">Envolver para regalo</h3>
                    <p>¿Acaso tu compra es un regalo para una persona especial? No pierdas tiempo, en Tiendon tus envíos pueden ser enviados para regalo.</p>
                    <p class="more"><a href="#" class="bul">Regalo</a></p>
                </div>
                <div class="col col-last">
                    <h3 class="ico ico4">Carrito de compra</h3>
                    <p>Consulta que articulos están añadidos a tu carrito de compra con solo un click!</p>
                    <p class="more"><a href="#" class="bul">Carrito</a></p>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Text Cols -->
        </div>
        <!-- End Side Full -->
        <!-- Footer -->
        <div id="footer">
            <p class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">Mi cuenta</a> <span>|</span> <a href="#">Tienda</a> <span>|</span> <a href="#">Contacto</a> </p>
            <p class="right"> &copy; 2010 Tiendon. Desarrollado por <a href="http://chocotemplates.com">Tiendon master 2.0</a> </p>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Shell -->
</body>
</html>
