@model List<Tiendon.Nucleo.Entidades.Usuario>
@{
    ViewBag.Title = "Index";
}




<h1 class="page-header">Portada de usuario en diseño @Model[0].Nombre</h1>
<li><a href="#"><img src="@Model[0].Id" /></a></li>
@*@foreach (Tiendon.Nucleo.Entidades.Usuario us in Model)
    {
        <h2> @us.Nombre</h2>

    }*@





