

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title></title>
</head>
<body>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <form role="form" method="post">
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input placeholder="javiershaka" class="form-control txtForm">


                    </div>
                    <div class="form-group">
                        <label>Correo</label>

                        <input placeholder="Example@gmail.com" class="form-control txtForm">


                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="******" class="form-control txtForm">


                    </div>
                    <div class="form-group">
                        <label>Verificar password</label>
                        <input type="password" placeholder="******" class="form-control txtForm">


                    </div>
                    <div class="form-group">
                        <label>Edad</label>
                        <input placeholder="22" class="form-control txtForm">


                    </div>
                    <div class="form-group">
                        <select name="genero">
                            <option value="Mujer">Mujer</option>
                            <option value="Hombre">Hombre</option>

                        </select>

                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input placeholder="calle 20 avenidad 18" class="form-control txtForm">


                    </div>
                    <input type="submit" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>

</body>
</html>

